p {
    color: white;
    font-size: 2em;
    text-align: center;
}

.boxes {
    width: 200px;
    height: 200px;
}

#box1 {
    background-color: purple;
    float: right;
}

#box2 {
    background-color: red;
}

#box3 {
    background-color: blue;
}
